{#
Usage:

    {{% mastodon status=https://instance.domain/@user/tootnr %}}
    
Optional parameters:

    width (default: 600)
    height (default: 333)
    
    Example: {{% mastodon status=https://instance.domain/@user/tootnr % width=300 height=600}} will show a 300x600 frame instead of the default 600x300
#}
<div class="mastodon-embed">

<h4>Comment on Mastodon</h4>
<iframe src="{{ status }}/embed" class="mastodon-embed" style="max-width: 100%; border: 0" width="{{ width|default("600") }}" height="{{ height|default("333") }}"</iframe>
</div>

